<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="list-unstyled">
        <%= render @posts %>
      </ul>
      <%= paginate @posts %>
    </div>
    <div id="tag-area" class="col-md-3">
      タグエリア
    </div>
  </div>
</div>
